*.pth

*.pkl

*.npy

# ipython/jupyter notebooks

**/.ipynb_checkpoints/

# Editor temporaries

*.swn

*.swo

*.swp

*~

# Pycharm editor settings

.idea

# project dirs

/datasets

/models

/demo/**/*.jpg

/tmp_models

/data

/Py
